@media all and (min-width:80em) {
	// text changes
	h1 { @include fontSize(2.8) }
	h2 { @include fontSize(3.2) }
	h3 { @include fontSize(1.8) }
	h4 { @include fontSize(1.5) }
	p { 
		@include fontSize(1.6);
		&.lede {
			@include fontSize(1.7);
		}
	}

	header {
		width:100%;

		#header-wrapper {
			max-width:120em;
			margin:0 auto;
		}

		h1 {
			float:left;
		}
	}

	#content-wrapper {
		max-width:130em;
	}
}