@media all and (max-width:40em) {
	// text changes
	h1 { @include fontSize(2.3) }
	h2 { @include fontSize(1.9) }
	h3 { @include fontSize(1.7) }
	h4 { @include fontSize(1.5) }
	p { 
		@include fontSize(1.4);
		&.lede {
			@include fontSize(1.7);
		}
	}
	header {

		h1 {
			margin-left:5%;
		}

		.menuToggle {
			@include fontSize(1.6);
			color:#fff;
			display:block;
			text-transform: uppercase;
			background:#333;
			padding:1em 1.2em 0.85em 1.2em;
		}

		nav {
			width:100%;
			clear:left;

			.navItem {
				@include fontSize(1.4);
				float:left;
				width:33.3333%;
				padding:1.2em 0;
				text-align:center;
				background:#333;
				color:#fff;
				text-decoration: none;
				font-style:italic;
			}
		}
	}

	#content-wrapper {
		width:96%;
		margin:1em 2%;
		padding-top:2%;
		@include roundedCorners(4px);

		.main {
			width:100%;
			padding:0;
			border-right:none;

			form {
				input[type="text"] {
					width:96%;
					padding:2%;
				}
				input[type="submit"] {
					width:100%;
				}
			}
		}
		article {
			border-bottom:1px solid #ccc;
			width:90%;
			padding:0 5%;
			margin-bottom:1%;
			-webkit-tap-highlight-color: lightBlue;
		}
		.summary {
			display:block;
			padding-right:20%;
		}

		.fullArticle {
			display:none;
		}
		aside {
			clear:both;
			float:left;
			width:90%;
			padding:2% 5% 0;

			.asideList {
				list-style-type:none;
				margin-left:-6%;
				margin-right:-6%;
				
				.sidebarItem {
					@include fontSize(1.4);
					display:block;
					padding:1.2em 5%;
					background:#333;
					color:#fff;
					text-decoration: none;
					border-bottom:1px solid $titleColor;
					font-style:italic;

					&:last-child {
						border-bottom:none;
					}

				}
			}
		}
	}
}