body {
	@include readingFontFam;
	color:$readingColor;
}

a, a:visited, a:active {
	color:#00A56A;
}

h1, h2, h3, h4, h5 {
    @include titleFontFam;
    line-height: 1.2;
    margin:0.5em 0;
    color:$titleColor;
}
h1 {
	font-weight:300;
}

p {
    line-height:1.5;
    margin-bottom:1.6em;
}

// styles specific to the article area

article { 
	
	ol, ul {
		@include fontSize(1.6);
		line-height:1.5;
		margin:0 0 1.6em 1.5em;
	}
	
	blockquote {
		border-left:4px solid #ccc;
		padding-left:2em;
		font-style:italic;
	}
}

